#nav-icon1 {
  width: 24px;
  height: 21px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 3
}
#nav-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
#nav-icon1 span:nth-child(1) {
  top: 0px;
}
#nav-icon1 span:nth-child(2) {
  top: 9px;
}
#nav-icon1 span:nth-child(3) {
  top: 18px;
}
#nav-icon1.open span:nth-child(1) {
  top: 9px;
  transform: rotate(135deg);
}
#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
#nav-icon1.open span:nth-child(3) {
  top: 9px;
  transform: rotate(-135deg);
}